body {
    background-color:darkcyan;
}
h1 {
    font-family: 'Macondo';
    text-align: center;
    text-decoration: underline;
    color:azure;
}
header {
    padding-top: 100px;
    padding-bottom: 100px;
}


.questions {
    text-align: center;
}
