body {
    background-color: rgba(65, 16, 210, 0.82);
    justify-content:center;
}
h1 {
    font-family: 'Bungee Inline';
    text-align: center;
    font-size:75px;
    color:azure;

}
header {
    padding-top: 0px;
    padding-bottom: 0px;
}


.questions {
    text-align: center;
    font-family: 'Patua One', cursive;
}
.choices {
    text-align: center;
    /* padding-bottom: 50px; */
}
.movies {
    /* text-align: center; */
    display:flex;
    justify-content: center;
    padding: 0px;
} 
.search {
    text-align:center;
    justify-content: center;
    /* display:flexbox; */
}
