body {
    background-color: darkcyan;
}
h1 {
    text-align: center;
    text-decoration: underline;
    color: beige;
}
header {
    padding-top: 100px;
    padding-bottom: 100px;
}
/* .btnExperience {
    
} */
.quote {
background-color: beige;
}
